.nodered/flows.json
[
    {
        "id": "f657b46d.c7ee58",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "244283f1.61aa5c",
        "type": "tab",
        "label": "Flow 2"
    },
    {
        "id": "7a5daf6a.5df79",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/data",
        "wholemsg": "false"
    },
    {
        "id": "cf80494e.0c58a8",
        "type": "ibmiot",
        "z": "",
        "name": "MyApplication",
        "keepalive": "60",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "faf0a619.10f7a8",
        "type": "ibmiot",
        "z": "",
        "name": "MyApplication2",
        "keepalive": "60",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "fb9303cb.8d40b",
        "type": "inject",
        "z": "f657b46d.c7ee58",
        "name": "Send data after every 2 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "x": 246,
        "y": 166,
        "wires": [
            [
                "882768f.5110598",
                "43c7efe9.2e2be",
                "e35fb55f.09fff8",
                "f922ec89.0da66",
                "48ef7348.31f31c",
                "e6935f66.5b89d",
                "2b4ab77.fbb9c48",
                "277f44c8.bf765c"
            ]
        ]
    },
    {
        "id": "b7af7bc3.e6ef48",
        "type": "comment",
        "z": "f657b46d.c7ee58",
        "name": "Push payload",
        "info": "it pushes the payload with the current values to IOTF",
        "x": 198,
        "y": 123.00001525878906,
        "wires": []
    },
    {
        "id": "1cedc7f3.931798",
        "type": "http in",
        "z": "f657b46d.c7ee58",
        "name": "UpdateFirmware",
        "url": "/UpdateFirmware",
        "method": "get",
        "swaggerDoc": "",
        "x": 195,
        "y": 688.0000610351562,
        "wires": [
            [
                "e5edf1bd.8baee"
            ]
        ]
    },
    {
        "id": "22fa375f.139048",
        "type": "comment",
        "z": "f657b46d.c7ee58",
        "name": "Update Firmware command",
        "info": "",
        "x": 236,
        "y": 644.0000610351562,
        "wires": []
    },
    {
        "id": "e5edf1bd.8baee",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "Update Firmware payload",
        "func": "var globalContext = context.global; \nglobalContext.get(msg.req.query.Serial).WaterUsage = Math.floor(Math.random() * (28 - 20 + 1) + 20);\nglobalContext.get(msg.req.query.Serial).firmware = \"v4.0\"\nmsg.payload =globalContext.get(msg.req.query.Serial);\nglobalContext.set(\"pasueDevice\", null);   \nmsg.headers = { \"Content-type\" : \"text/plain\" }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 495,
        "y": 688.0000457763672,
        "wires": [
            [
                "f1f8ee7.2a8b31",
                "445e3e3b.2ff0c"
            ]
        ]
    },
    {
        "id": "f1f8ee7.2a8b31",
        "type": "debug",
        "z": "f657b46d.c7ee58",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 816,
        "y": 659.0000457763672,
        "wires": []
    },
    {
        "id": "445e3e3b.2ff0c",
        "type": "http response",
        "z": "f657b46d.c7ee58",
        "name": "",
        "x": 800,
        "y": 730.0001068115234,
        "wires": []
    },
    {
        "id": "61290f4b.b84c3",
        "type": "http in",
        "z": "f657b46d.c7ee58",
        "name": "Pause Device",
        "url": "/Pause",
        "method": "get",
        "swaggerDoc": "",
        "x": 191,
        "y": 851.0000610351562,
        "wires": [
            [
                "3fc8a77d.c228c8"
            ]
        ]
    },
    {
        "id": "6b6682e8.feb3ec",
        "type": "http response",
        "z": "f657b46d.c7ee58",
        "name": "Resonse",
        "x": 776,
        "y": 850.0000610351562,
        "wires": []
    },
    {
        "id": "3fc8a77d.c228c8",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "set values for pause",
        "func": "var globalContext = context.global;\nvar Serial = msg.req.query.Serial;\nglobalContext.set(\"pasueDevice\", Serial);\nmsg.payload = \"Paused\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 853.0000610351562,
        "wires": [
            [
                "6b6682e8.feb3ec"
            ]
        ]
    },
    {
        "id": "882768f.5110598",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "1797B5-D143-4F90",
        "func": "var globalContext = context.global; \nif(globalContext.get('1797B5-D143-4F90').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('1797B5-D143-4F90')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 583,
        "y": 98,
        "wires": [
            [
                "5816d9b1.75e528"
            ]
        ]
    },
    {
        "id": "a6e75cad.a0df4",
        "type": "comment",
        "z": "f657b46d.c7ee58",
        "name": "Pause a device",
        "info": "",
        "x": 204.34027099609375,
        "y": 800.2222900390625,
        "wires": []
    },
    {
        "id": "43c7efe9.2e2be",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "OA2895-64OB-DBLF",
        "func": "var globalContext = context.global; \nif(globalContext.get('OA2895-64OB-DBLF').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('OA2895-64OB-DBLF')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 590.9999847412109,
        "y": 166,
        "wires": [
            [
                "27089cc4.b36404"
            ]
        ]
    },
    {
        "id": "b34ffd5f.90933",
        "type": "function",
        "z": "244283f1.61aa5c",
        "name": "Simulate Data",
        "func": "var globalContext = context.global; \nvar temp = Math.floor(Math.random()*(2)+1);\nwater = Math.random() < 0.5 ? -1 : 1; \nmsg.payload.d.temperature = msg.payload.d.temperature + temp;\nmsg.payload.d.WaterUsage = msg.payload.d.WaterUsage + water\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 553,
        "y": 777,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "5816d9b1.75e528",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "1797B5-D143-4F90",
        "service": "registered",
        "x": 843,
        "y": 98,
        "wires": []
    },
    {
        "id": "27089cc4.b36404",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice2",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "OA2895-64OB-DBLF",
        "service": "registered",
        "x": 842,
        "y": 162,
        "wires": []
    },
    {
        "id": "ffe0c766.486018",
        "type": "inject",
        "z": "244283f1.61aa5c",
        "name": "StartFirmwareUpdate",
        "topic": "",
        "payload": "{ \"dbAPIUrl\": \"https://3f1ce874-c334-4ce5-b04b-d1a08f336bb0-bluemix.cloudant.com/verdict_document/_design/Verdict/_search/searchForVerdict?q=*%3A*\",\"dbUsername\":\"xxx\",\"dbpassword\":\"yyy\",\"SerialNo\":\"OA2895-64OB-DBLF\",\"firmware\":\"v4.0\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 743,
        "y": 52,
        "wires": [
            [
                "11ffc5cb.240c4a",
                "5af1230.36e66dc"
            ]
        ]
    },
    {
        "id": "5af1230.36e66dc",
        "type": "debug",
        "z": "244283f1.61aa5c",
        "name": "Firmware Update Command",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1079,
        "y": 371,
        "wires": []
    },
    {
        "id": "11ffc5cb.240c4a",
        "type": "websocket out",
        "z": "244283f1.61aa5c",
        "name": "",
        "server": "7a5daf6a.5df79",
        "client": "",
        "x": 801.0001068115234,
        "y": 349.111328125,
        "wires": []
    },
    {
        "id": "40aabd4c.489af4",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "1797B5-D143-4F90",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 204.00001525878906,
        "y": 632,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    },
    {
        "id": "4524ef8d.dacf7",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice2",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "OA2895-64OB-DBLF",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 215.00001525878906,
        "y": 683,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    },
    {
        "id": "e35fb55f.09fff8",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "5D5B6D-B3ED-4BE4",
        "func": "var globalContext = context.global; \nif(globalContext.get('5D5B6D-B3ED-4BE4').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('5D5B6D-B3ED-4BE4')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 582.9999847412109,
        "y": 248,
        "wires": [
            [
                "b80cc682.607a08"
            ]
        ]
    },
    {
        "id": "b80cc682.607a08",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice3",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "5D5B6D-B3ED-4BE4",
        "service": "registered",
        "x": 864,
        "y": 281,
        "wires": []
    },
    {
        "id": "f922ec89.0da66",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "F3386A-2FB4-4E7B",
        "func": "var globalContext = context.global; \nif(globalContext.get('F3386A-2FB4-4E7B').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('F3386A-2FB4-4E7B')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 595.9999847412109,
        "y": 305,
        "wires": [
            [
                "201e9e48.6a1ad2"
            ]
        ]
    },
    {
        "id": "201e9e48.6a1ad2",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice4",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "F3386A-2FB4-4E7B",
        "service": "registered",
        "x": 868,
        "y": 348,
        "wires": []
    },
    {
        "id": "48ef7348.31f31c",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "5AI0TO-FEN7-WY68",
        "func": "var globalContext = context.global; \nif(globalContext.get('5AI0TO-FEN7-WY68').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('5AI0TO-FEN7-WY68')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 602.9999847412109,
        "y": 373,
        "wires": [
            [
                "e082d36e.b4b07"
            ]
        ]
    },
    {
        "id": "e082d36e.b4b07",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice5",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "5AI0TO-FEN7-WY68",
        "service": "registered",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "e6935f66.5b89d",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "FCD840-C37E-455D",
        "func": "var globalContext = context.global; \nif(globalContext.get('FCD840-C37E-455D').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('FCD840-C37E-455D')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 606.9999847412109,
        "y": 437,
        "wires": [
            [
                "31be356e.7102ea"
            ]
        ]
    },
    {
        "id": "31be356e.7102ea",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice6",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "FCD840-C37E-455D",
        "service": "registered",
        "x": 865,
        "y": 489,
        "wires": []
    },
    {
        "id": "2b4ab77.fbb9c48",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "2245BD-3DFA-4297",
        "func": "var globalContext = context.global; \nif(globalContext.get('2245BD-3DFA-4297').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('2245BD-3DFA-4297')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 610.9999847412109,
        "y": 514.0000305175781,
        "wires": [
            [
                "6ad2ba45.6283d4"
            ]
        ]
    },
    {
        "id": "6ad2ba45.6283d4",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice7",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "2245BD-3DFA-4297",
        "service": "registered",
        "x": 868,
        "y": 557,
        "wires": []
    },
    {
        "id": "c83a3192.b7577",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice3",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "5D5B6D-B3ED-4BE4",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 218.00001525878906,
        "y": 786,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    },
    {
        "id": "166af35e.e7568d",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice4",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "F3386A-2FB4-4E7B",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 205.00001525878906,
        "y": 837,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    },
    {
        "id": "9ae9a442.7e27a8",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice5",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "5AI0TO-FEN7-WY68",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 214.00001525878906,
        "y": 888,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    },
    {
        "id": "77e4f1e6.a1769",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice6",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "FCD840-C37E-455D",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 218.00001525878906,
        "y": 946,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    },
    {
        "id": "901128a3.4e3238",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice7",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "2245BD-3DFA-4297",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 208.00001525878906,
        "y": 994,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    },
    {
        "id": "a4c1cdd.36f753",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "1797B5-D143-4F90",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 219,
        "y": 111,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "76caa197.106f4",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice2",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "OA2895-64OB-DBLF",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 220,
        "y": 162,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "59adafd4.8b746",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice3",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "5D5B6D-B3ED-4BE4",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 223,
        "y": 265,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "c9cf874c.d40ee8",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice4",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "F3386A-2FB4-4E7B",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 220,
        "y": 316,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "ad5fec82.9e5a8",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice5",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "5AI0TO-FEN7-WY68",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 219,
        "y": 367,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "c6cab64a.ca6ab8",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice6",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "FCD840-C37E-455D",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 233,
        "y": 425,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "ac329522.5a89c8",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice7",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "2245BD-3DFA-4297",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 223,
        "y": 473,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "f934e546.178208",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "1797B5-D143-4F90",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 194.8957977294922,
        "y": 1031.1112060546875,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "8b0e2282.09b2e",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice2",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "OA2895-64OB-DBLF",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 191.8958282470703,
        "y": 1084.1112060546875,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "ac2fbdea.521ab",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice3",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "5D5B6D-B3ED-4BE4",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 194.8958282470703,
        "y": 1187.1112060546875,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "c5ea2e46.40bbd",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice4",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "F3386A-2FB4-4E7B",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 191.8958282470703,
        "y": 1238.1112060546875,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "a7a1ace5.326bb",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice5",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "5AI0TO-FEN7-WY68",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 214.8958282470703,
        "y": 1287.1112060546875,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "13bf046.d2364fc",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice6",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "FCD840-C37E-455D",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 204.8958282470703,
        "y": 1347.1112060546875,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "4c1eba6e.2e2574",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice7",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "2245BD-3DFA-4297",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 194.8958282470703,
        "y": 1395.1112060546875,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "c824a044.9bfc3",
        "type": "debug",
        "z": "f657b46d.c7ee58",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 741.8367767333984,
        "y": 1093.982666015625,
        "wires": []
    },
    {
        "id": "35465049.c8278",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "Update Firmware payload",
        "func": "var globalContext = context.global; \n\n\nif(msg.payload.hasOwnProperty('SerialNo') && msg.payload.hasOwnProperty('firmware')){\nif(globalContext.get(msg.payload.SerialNo).firmware.match(/\\d+/)[0] < JSON.stringify(msg.payload.firmware).match(/\\d+/)[0]){\n    \n    \nvar Serial = msg.payload.SerialNo;\nglobalContext.set(\"pasueDevice\", Serial);\n\n    setTimeout(function(){\n    globalContext.get(msg.payload.SerialNo).WaterUsage = Math.floor(Math.random() * (32 - 25 + 1) + 25);\n    globalContext.get(msg.payload.SerialNo).firmware = \"v4.0\"\n    globalContext.set(\"pasueDevice\", null);    \n    }, 10000);\n\n}\n}else{\n    \n    return msg\n}\n\n\n\n//return {\"current\" : globalContext.get(msg.payload.SerialNo).firmware.match(/\\d+/)[0],\"requested\":JSON.stringify(msg.payload.firmware).match(/\\d+/)[0]};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 511.89581298828125,
        "y": 994,
        "wires": [
            [
                "c824a044.9bfc3",
                "f2697b03.beff48"
            ]
        ]
    },
    {
        "id": "f2697b03.beff48",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "SimulatorInitializer",
        "func": "var globalContext = context.global;\nglobalContext.set(\"pasueDevice\", null);\nglobalContext.set(\"1797B5-D143-4F90\",{\n    \"active\": true,\n    \"currentCycle\": 25,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 67,\n        \"FamilyMembers\": 5,\n        \"income\": 48000,\n        \"Name\": \"Francene Noelia\",\n        \"zipcode\": 95118\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 56.48145,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 3,\n    \"location\": {\n        \"lat\": 44.694094,\n        \"long\": -89.707840\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-100\",\n    \"name\": \"washer1\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"1797B5-D143-4F90\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 2,\n    \"timestamp\": 1480333728717,\n    \"type\": \"washer\",\n    \"vibration\": 44,\n    \"waterPressure\": 88.70406,\n    \"WaterUsage\": 55,\n    \"Region\":\"Wisconsin\"\n});\n\nglobalContext.set(\"OA2895-64OB-DBLF\",{\n    \"active\": true,\n    \"currentCycle\": 23,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 55,\n        \"FamilyMembers\": 3,\n        \"income\": 42000,\n        \"Name\": \"James Smith\",\n        \"zipcode\": 20012\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 48.383003,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 27.657206,\n    \"location\": {\n        \"lat\": 47.350494,\n        \"long\": -120.369074\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-100\",\n    \"name\": \"washer2\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"OA2895-64OB-DBLF\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 5,\n    \"timestamp\": 1480333740717,\n    \"type\": \"washer\",\n    \"vibration\": 6,\n    \"waterPressure\": 37.670483,\n    \"WaterUsage\": 45,\n    \"Region\":\"Washington\"\n});\n\nglobalContext.set(\"5D5B6D-B3ED-4BE4\",{\n    \"active\": true,\n    \"currentCycle\": 23,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 68,\n        \"FamilyMembers\": 6,\n        \"income\": 50000,\n        \"Name\": \"Linda Hill\",\n        \"zipcode\": 97202\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 48.383003,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 27.657206,\n    \"location\": {\n        \"lat\": 34.0863543,\n        \"long\": -116.4229661\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-101\",\n    \"name\": \"washer3\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"5D5B6D-B3ED-4BE4\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 6,\n    \"timestamp\": 1480333740717,\n    \"type\": \"washer\",\n    \"vibration\": 6,\n    \"waterPressure\": 37.670483,\n    \"WaterUsage\": 23.45,\n    \"Region\":\"Arizona\"\n});\nglobalContext.set(\"F3386A-2FB4-4E7B\",{\n    \"active\": true,\n    \"currentCycle\": 23,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 30,\n        \"FamilyMembers\": 3,\n        \"income\": 28000,\n        \"Name\": \"Kevin Young\",\n        \"zipcode\": 59001\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 48.383003,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 27.657206,\n    \"location\": {\n        \"lat\": 37.1870659,\n        \"long\": -123.7638657\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-102\",\n    \"name\": \"washer4\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"F3386A-2FB4-4E7B\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 7,\n    \"timestamp\": 1480333740717,\n    \"type\": \"washer\",\n    \"vibration\": 6,\n    \"waterPressure\": 37.670483,\n    \"WaterUsage\": 21.45,\n    \"Region\":\"California\"\n});\nglobalContext.set(\"5AI0TO-FEN7-WY68\",{\n    \"active\": true,\n    \"currentCycle\": 23,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 40,\n        \"FamilyMembers\": 4,\n        \"income\": 38000,\n        \"Name\": \"Edward Nelson\",\n        \"zipcode\": 90003\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 48.383003,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 27.657206,\n    \"location\": {\n        \"lat\": 27.5223247,\n        \"long\": -88.2983773\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-102\",\n    \"name\": \"washer5\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"5AI0TO-FEN7-WY68\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 6,\n    \"timestamp\": 1480333740717,\n    \"type\": \"washer\",\n    \"vibration\": 6,\n    \"waterPressure\": 37.670483,\n    \"WaterUsage\": 20.45,\n    \"Region\":\"Florida\"\n});\nglobalContext.set(\"FCD840-C37E-455D\",{\n    \"active\": true,\n    \"currentCycle\": 23,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 50,\n        \"FamilyMembers\": 5,\n        \"income\": 38000,\n        \"Name\": \"Elizabeth Lee\",\n        \"zipcode\": 80203\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 48.383003,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 27.657206,\n    \"location\": {\n        \"lat\": 40.6971494,\n        \"long\": -74.2598643\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-103\",\n    \"name\": \"washer6\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"FCD840-C37E-455D\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 7,\n    \"timestamp\": 1480333740717,\n    \"type\": \"washer\",\n    \"vibration\": 6,\n    \"waterPressure\": 37.670483,\n    \"WaterUsage\": 25.45,\n    \"Region\":\"New York\"\n});\nglobalContext.set(\"2245BD-3DFA-4297\",{\n    \"active\": true,\n    \"currentCycle\": 23,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 32,\n        \"FamilyMembers\": 2,\n        \"income\": 25000,\n        \"Name\": \"Jason Nelson\",\n        \"zipcode\": 85001\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 48.383003,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 27.657206,\n    \"location\": {\n        \"lat\": 31.0920241,\n        \"long\": -104.5693688\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-104\",\n    \"name\": \"washer7\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"2245BD-3DFA-4297\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 8,\n    \"timestamp\": 1480333740717,\n    \"type\": \"washer\",\n    \"vibration\": 6,\n    \"waterPressure\": 37.670483,\n    \"WaterUsage\": 21.45,\n    \"Region\":\"Texas\"\n});\nglobalContext.set(\"FFF0F9-A134-1111\",{\n    \"active\": true,\n    \"currentCycle\": 23,\n    \"cycleStatus\": \"completed\",\n    \"detergent\": 20,\n    \"duration\": 60,\n    \"Errorcode\": null,\n    \"failureType\": null,\n    \"FamilyData\": {\n        \"Age\": 32,\n        \"FamilyMembers\": 2,\n        \"income\": 25000,\n        \"Name\": \"Jason Nelson\",\n        \"zipcode\": 85001\n    },\n    \"firmware\": 'v3.0',\n    \"Humidity\": 48.383003,\n    \"LoadSize\": \"0.75\",\n    \"LoadWeight\": 27.657206,\n    \"location\": {\n        \"lat\": 37.982229,\n        \"long\": -81.7020691\n    },\n    \"Make\": \"JKEnterprise\",\n    \"Model\": \"LFW-104\",\n    \"name\": \"washer8\",\n    \"PowerUsage\": 71.00391,\n    \"program\": \"Cold\",\n    \"SerialNo\": \"FFF0F9-A134-1111\",\n    \"SKU\": \"23FF53-6269\",\n    \"startTime\": \"17:18:22\",\n    \"status\": \"Working\",\n    \"temperature\": 8,\n    \"timestamp\": 1480333740717,\n    \"type\": \"washer\",\n    \"vibration\": 6,\n    \"waterPressure\": 37.670483,\n    \"WaterUsage\": 21.45,\n    \"Region\":\"Virginia\"\n});\nmsg.payload = \"Simulation Started\";\nmsg.headers = {\n         \"Content-type\" : \"text/plain\"\n     }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 756.8958129882812,
        "y": 984.1112060546875,
        "wires": [
            [
                "b106e6e9.4320f8"
            ]
        ]
    },
    {
        "id": "b106e6e9.4320f8",
        "type": "debug",
        "z": "f657b46d.c7ee58",
        "name": "Initialized",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 993.8958129882812,
        "y": 981.1112060546875,
        "wires": []
    },
    {
        "id": "98efa69d.328f98",
        "type": "inject",
        "z": "f657b46d.c7ee58",
        "name": "",
        "topic": "",
        "payload": "Inializing the Devices",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 513.8958129882812,
        "y": 947.888916015625,
        "wires": [
            [
                "f2697b03.beff48"
            ]
        ]
    },
    {
        "id": "f3078ed.6ff707",
        "type": "comment",
        "z": "f657b46d.c7ee58",
        "name": "Initializer",
        "info": "It runs on the start and initilizes the values to abnormal status\n",
        "x": 488.89581298828125,
        "y": 909.888916015625,
        "wires": []
    },
    {
        "id": "f2eec862.6a21b8",
        "type": "http in",
        "z": "244283f1.61aa5c",
        "name": "[Get] Restart Simulation",
        "url": "/StartSimulation",
        "method": "get",
        "swaggerDoc": "",
        "x": 237.8958282470703,
        "y": 1158.5556640625,
        "wires": [
            [
                "bc7af66f.ffd5b8"
            ]
        ]
    },
    {
        "id": "c4dccfd1.70605",
        "type": "comment",
        "z": "244283f1.61aa5c",
        "name": "Restart Simulation",
        "info": "it restart the simulation",
        "x": 221.8958282470703,
        "y": 1113.5556640625,
        "wires": []
    },
    {
        "id": "35d926c4.b8597a",
        "type": "http response",
        "z": "244283f1.61aa5c",
        "name": "Resonse",
        "x": 705.8958282470703,
        "y": 1159.5556640625,
        "wires": []
    },
    {
        "id": "bc7af66f.ffd5b8",
        "type": "function",
        "z": "244283f1.61aa5c",
        "name": "Set Response",
        "func": "msg.payload = {\"restart\":true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 493.8958282470703,
        "y": 1160.5556640625,
        "wires": [
            [
                "35d926c4.b8597a",
                "1ea5ecdc.83f983"
            ]
        ]
    },
    {
        "id": "1ea5ecdc.83f983",
        "type": "ibmiot out",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "cmd",
        "deviceId": "iotdevice",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "1797B5-D143-4F90",
        "service": "registered",
        "x": 639.7916259765625,
        "y": 1251.6667785644531,
        "wires": []
    },
    {
        "id": "64623c33.897504",
        "type": "ibmiot in",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice8",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "FFF0F9-A134-1111",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": false,
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 203.8298797607422,
        "y": 1469.0555990007197,
        "wires": [
            [
                "35465049.c8278"
            ]
        ]
    },
    {
        "id": "ab2e37c.b50c1c8",
        "type": "ibmiot out",
        "z": "f657b46d.c7ee58",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "outputType": "evt",
        "deviceId": "iotdevice8",
        "deviceType": "IOTDevice",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "FFF0F9-A134-1111",
        "service": "registered",
        "x": 878.8334808349609,
        "y": 609.6458435058594,
        "wires": []
    },
    {
        "id": "277f44c8.bf765c",
        "type": "function",
        "z": "f657b46d.c7ee58",
        "name": "FFF0F9-A134-1111",
        "func": "var globalContext = context.global; \nif(globalContext.get('FFF0F9-A134-1111').SerialNo != globalContext.get('pasueDevice') ){\n    msg.payload = {\"d\":globalContext.get('FFF0F9-A134-1111')};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 605.8957672119141,
        "y": 576.1111145019531,
        "wires": [
            [
                "ab2e37c.b50c1c8"
            ]
        ]
    },
    {
        "id": "28081dfe.f56b92",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "cmd",
        "deviceId": "iotdevice8",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "FFF0F9-A134-1111",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": true,
        "allFormats": "",
        "qos": "2",
        "x": 225.8958282470703,
        "y": 523.111083984375,
        "wires": [
            [
                "11ffc5cb.240c4a"
            ]
        ]
    },
    {
        "id": "f58bce69.81fb7",
        "type": "ibmiot in",
        "z": "244283f1.61aa5c",
        "authentication": "apiKey",
        "apiKey": "cf80494e.0c58a8",
        "inputType": "evt",
        "deviceId": "iotdevice8",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "data",
        "commandType": "",
        "format": "json",
        "name": "FFF0F9-A134-1111",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": "2",
        "x": 221.8958282470703,
        "y": 1045.4444580078125,
        "wires": [
            [
                "b34ffd5f.90933"
            ]
        ]
    }
]